<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/30layout.css">
    <title>Layout básico</title>
</head>

<body>
    <!-- Esta parte la agregamos para indicar el contenedor de la página -->
    <div class="contenedor">
        <!-- Declaramos el header -->
        <header>
            <!-- Definimos el menú de navegación -->
            <nav>
                <ul class="menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!-- Agregamos la seccipon del contenido principal -->
        <section class="main">
            <!-- Agregamos un div para la imagpen -->
            <div class="imagen">
                <img src="imagenes/3.jpg" alt="Imagén de un puente">
            </div>
            <!-- Agregamos una sección para los articulos, dentro del section anterior -->
            <section class="posts">
                <!-- Agregamos el artículo para los posts -->
                <article>
                    <h2>Titulo del artículo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, repellat quibusdam recusandae debitis, architecto dolores a ullam sed suscipit aliquam quo neque voluptatibus ratione harum vitae voluptates amet praesentium quae. Cupiditate
                        praesentium obcaecati reprehenderit unde, accusantium, adipisci amet dignissimos ex culpa corporis nihil consequatur. Ea a omnis cupiditate magnam vitae totam, aut corporis asperiores, aperiam tempora quos dolorem placeat qui.
                        Quidem nulla illum libero debitis incidunt reiciendis nostrum quasi assumenda eligendi iure, placeat ipsa ea tempore, perferendis quo dolore quibusdam, quisquam magni deleniti quis neque. Quisquam in et deserunt deleniti.</p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident optio rerum laborum eum aliquid facere, unde blanditiis, assumenda possimus nobis perferendis expedita obcaecati placeat delectus culpa, voluptate voluptatem nostrum eligendi? Ipsa libero
                        est nostrum rerum sapiente similique consequatur eius illo obcaecati? Illo voluptate vel facilis autem veritatis, perferendis odit in id sequi quis, obcaecati, saepe iure aspernatur neque alias magnam? Nemo facere quaerat ut ullam
                        mollitia magnam vero necessitatibus deserunt voluptatibus quas! Tempore laudantium ratione consequatur a incidunt exercitationem, natus nulla mollitia blanditiis velit dolore officia. Possimus eius fuga amet.
                    </p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul class="lateral">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolor, deleniti enim ab illo est assumenda facilis porro, quod tempore quo tenetur sapiente? Sapiente dignissimos veniam aperiam, illo cum quasi?</p>
            </div>
        </aside>
        <footer>
            <p>Guillermo Spindola 2017 - Todos los derechos reservados.</p>
        </footer>
    </div>
</body>

</html>