body {
    background: #000;
}

.articulo {
    background: #fff;
    padding: 20px;
    width: 50%;
    .titulo {
        font-weight: bolder;
        font-size: 34px;
    }
    .autor {
        color: rgb(66, 55, 55);
    }
    .lorem {
        font-size: 16px;
        line-height: 25px;
        color: grey;
        a {
            text-decoration: none;
        }
    }
}